body{
    font-family: 'Poppins', sans-serif;
}

nav{
    position: fixed;
}

nav .container-fluid{
    padding: 10px 40px;
}

.section-margin{
    margin-top: 60px;
}

.section-margin{
    padding-top: 60px;
}

navbar{
    padding: 20px 30px;
}

.navbar-div{
    display: flex;
    justify-content: space-between;
}

.logo img{
    max-width: 50px;
}

.hamburger-menu a{
    color: #FFF;
}

.background-video{
    position: relative;
    width: 100%;
    height: 100%;
}

.background-video:before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 8px);
}

video{
    width: 100%;
    height: 100%;
}

main{
    position: relative;   
}

.main-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.main-content h1{
    font-size: 105px;
    font-weight: 800;
    margin-bottom: 0;
}

.main-content p{
    font-size: 26px;
}

.btn-view-portfolio{
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 15px 30px;
    text-align: center;
    color: #FFF;
    border-radius: 30px;
    text-transform: uppercase;
}

.down-angle{
    position: absolute;
    bottom: 0;
}

.btn-touch{
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
}

.section-one-content-left{
    padding: 0 50px;
}

.section-one-content-left h1{
    font-size: 65px;
}

.section-one-content-left p{
    color: grey;
    margin-top: 35px;
}

.btn-touch{
    background-color: transparent;
    border: 1px solid grey;
    font-size: 14px;
    padding: 15px 30px;
    text-align: center;
    color: grey;
    border-radius: 30px;
    text-transform: uppercase;
}

.section-one-content-right:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.section-one-content-right:after{
    content: 'Creative';
    position: absolute;
    left: 45%;
    top: 45%;
    font-size: 64px;
    transform: rotate(270deg);
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
}

.img-diagram{
    
    z-index: 11;
    width: 500px;
    height: 100%;
}

.rct1{
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 30%;
    width: 180px;
    height: 90px;
}

.rct1:before{
    content: '';
    position: absolute;
    background-color: aqua;
    width: 105px;
    height: 59px;
    bottom: -70%;
    left: -55%;
}

.rct2{
    position: absolute;
    right: ;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
}

.rct2:before{
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    left: -100%;
    bottom: 100%;
}

.grid {
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
  
  .grid-item {
    height: 120px;
    float: left;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
  }
  
  .grid-item--width2 { width:  40%; }
  .grid-item--width3 { width:  60%; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }
  

  /**section4 css*/

    .sec4bg{
    position: relative;
    background-image: url('../images/sec4bg.jpg');
    background-position: fixed;
    background-size: cover;
}

    .sec4bg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:rgba(17, 43, 60,0.85)
}

    .ranosys_plans_list li{
    color: #FFF;
    list-style: none;
    text-align: center;
}

    .ranosys_plan_listImg{
    background-color: #FFF;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

    .ranosys_plans_list li img{
    max-width: 50px;
}

    .ranosys_plans_name h2{
    font-size: 22px;
    margin-top: 20px;
}

    .sec4-heading{
    color: #FFF;
    text-align: center;
}

    .ranosys_plans_list{
     margin-top: 75px;   
}

.ranosys_plans_list li .