body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
}

nav .container-fluid{
    padding: 10px 40px;
}

.section-margin{
    margin-top: 75px;
}

.section-margin2{
    margin-top: 120px;
}

.section-padding{
    padding: 60px 0;
}

.active_filter{
    background-color: rgba(17, 43, 60,1);
    color: #FFF;
}

navbar{
    padding: 20px 30px;
}

.fixed-header{
    background-color: #fff;
    transition: 0.2s all;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.navbar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-menu{
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 30px;
    color: grey;
}

.logo img{
    max-width: 100px;
}

.hamburger-menu a{
    color: #FFF;
}

.navbar-menu-items{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    width: 100%;
    background-color: rgba(17, 43, 60,0.9);
    transition: 0.3s all;
}

.t-flex{
    display: flex;    
    transition: 0.3s all;
}

.navbar-menu-items ul{
    padding-left: 0;
}



.navbar-menu-items-list{
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
}

.navbar-menu-links{
    font-size: 30px;
    color: grey;
}

.background-video{
    position: relative;
    width: 100%;
    height: 100%;
}

.background-video:before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 8px);
}

video{
    width: 100%;
    height: 100%;
}

main{
    position: relative;   
}

.main-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.main-content h1{
    font-size: 105px;
    font-weight: 800;
    margin-bottom: 0;
}

.main-content p{
    font-size: 26px;
}

.btn-view-portfolio{
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 15px 35px;
    text-align: center;
    color: #FFF;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: 0.3s all;
}

.btn-view-portfolio:hover{
    background-color: #fff;
    color: #000;
}

.down-angle{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    padding: 5px;
}

.btn-touch{
    position: relative;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
    transition: 0.3s all;
}

.btn-touch:hover{

}

.section-one-content-left{
    padding: 0 50px;
}

.section-one-content-left h1{
    font-size: 65px;
}

.section-one-content-left p{
    color: grey;
    margin-top: 35px;
}

.btn-touch{
    background-color: transparent;
    border: 1px solid grey;
    font-size: 14px;
    padding: 15px 35px;
    text-align: center;
    color: grey;
    border-radius: 30px;
    text-transform: uppercase;
}

.section-one-content-right:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.section-one-content-right:after{
    content: 'Creative';
    position: absolute;
    left: 45%;
    top: 45%;
    font-size: 64px;
    transform: rotate(270deg);
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
}

.img-diagram{
    
    z-index: 11;
    width: 500px;
    height: 100%;
}

.rct1{
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 30%;
    width: 180px;
    height: 90px;
}

.rct1:before{
    content: '';
    position: absolute;
    background-color: aqua;
    width: 105px;
    height: 59px;
    bottom: -70%;
    left: -55%;
}

.rct2{
    position: absolute;
    right: ;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
}

.rct2:before{
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    left: -100%;
    bottom: 100%;
}

/** section2 css*/

.category-list{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.category-list li{
    cursor: pointer;
    float: left;
    list-style-type: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 4px;
}


  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
  
  .grid-item {
    height: 120px;
    float: left;
    
    border: 2px solid #FFF;
    border-radius: 5px;
  }
  
  .grid-item--width2 { width:  48%; }
  .grid-item--width3 { width:  52%; border-right: 10px solid #FFF;}
  .grid-item--width1 { width: 20%;}
  .grid-item--width5 { width: 60%;}
  .grid-width3-bg  { background-image: url('../images/grid-width3img.jpg');}
  .grid-bg{
    background-size: cover;
    background-position: center;
    margin-top: 3px;
    border-right: 11px solid #FFF;
    border-bottom: 3px solid #FFF;
}
  .grid-width2-bg{background-image: url('../images/gridwidth2Img.jpg');}
  .grid-width1-bg{background-image: url('../images/grid1Img.jpg');}
  .grid-width4-bg{background-image: url('../images/grid4Img.jpg');}
  .grid-width5-bg{background-image: url('../images/grid5Img.jpg');}
  .grid-width6-bg{background-image: url('../images/grid6Img.jpg');}
  .grid-width7-bg{background-image: url('../images/grid7Img.jpg');}
  .grid-item--height1 { height: 300px;}
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 300px; }
  .grid-item--height4 { height: 600px; }
  

  /**section3 css*/

    .sec3bg{
    position: relative;
    background-image: url('../images/sec3bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

    .sec3bg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:rgba(17, 43, 60,0.55)
}

    .auriga_plans_list li{
    color: #FFF;
    list-style: none;
    text-align: center;
}

    .auriga_plans_list li:not(:first-child){
    margin-top: 5px;
}

    .auriga_plans_list li:last-child{
    margin-top: 35px;
}

    .auriga_plan_listImg{
    background-color: #FFF;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

    .auriga_plans_list li img{
    max-width: 50px;
}

    .auriga_plans_name h2{
    font-size: 22px;
    margin-top: 20px;
}

    .sec4-heading{
    color: #FFF;
    text-align: center;
}

    .sec4-heading h1 {
    font-size: 70px;
    font-weight: 600;
}

    .sec4-heading p {
    font-size: 18px;
    margin-top: 15px;
}

    .auriga_plans_list{
     margin-top: 75px;   
}

    .auriga_plans_list li .service_list_price{
    display: inline-block;
    max-width: 200px;
    border-radius: 36px;
    padding: 15px 35px;
    border: 1px solid #FFF;
    color: #FFF;
    -moz-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}

    .auriga_plans_list li .service_list_price:hover{
        background-color: #fff;
        color: #000;
        transform: scale(1.09);
    }


/**section-4 css*/

.section-four .container-fluid{
    padding: 0;
}

.news-section{
    display: flex;
    min-height: 800px;
}

.news-Imgleft{
    position: relative;
    background-image: url('../images/newsImg2.jpg');
    width: 100%;
    height: 1500px;
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 11;
    margin: auto;
    display: flex;
    align-items: flex-end;
    
}

.news-Imgleft:before{
    content: '';
    position: absolute;
    background-color:rgba(17, 43, 60,0.55);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0  ;
}

.news-ImgRight {    
    
    min-height: 400px;
    width: 100%;
    z-index: 11;
}

.news-ImgRight-first:before,.news-ImgRight-second:before{
    content: '';
    position: absolute;
    background-color:rgba(17, 43, 60,0.55);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.news-content {
    padding: 0 70px ;
    color: #FFF;
    z-index: 1;
}

.news-content h2 {
    font-size: 24px;
}

.news-content h1{
    font-size: 75px;
    font-weight: 600;
}

.news-content p {
    font-size: 15px;
}
.news-ImgRight-first,.news-ImgRight-second{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.news-ImgRight-first{
    position: relative;
    background-image: url('../images/newsImg1.jpg');
    width: 100%;
    height: 1500px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.news-ImgRight-second{
    position: relative;
    background-image: url('../images/newsImg3.jpg');
    width: 100%;
    height: 400px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.post-label{

    padding: 15px 20px;
    min-width: 150px;
}

.related-label{
    left: 0;
    top: 0;
    background-color:blue ;
    color: #FFF;
}

.news-label{
    left: 0;
    top: 0;
    background-color:aqua;
    color: #FFF;
}

/**section five css*/

.section-five{
    background: linear-gradient(to right, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
    background: -moz-linear-gradient(to right, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
    background: -webkit-linear-gradient(to right, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
}

.social-links-list{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.social-links-list .social-links-list-item{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-list .social-links-list-item:not(:last-of-type){
    border-right: 1px solid #FFF;
}

.social-links-list .social-links-list-item a{
    position: relative;
    color: #FFF;
    font-size: 20px;
    width: 100%;
    padding: 60px 0;
    z-index: 11;
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;

}

.social-links-list .social-links-list-item a:hover{
    color: #000;
}

.social-links-list .social-links-list-item a:before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0;
    z-index: -1;
    -webkit-transition: 0.4s all;
}

.social-links-list .social-links-list-item a:hover:before{
    content: '';
    height: 100%;
    background-color: #fff;
    color: #000;
    top: 0;

}

/**footer css*/

.footer-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.footer-section-left{
    font-size: 14px;
    color: grey;
    padding: 50px 5px;
}

.footer-section-left img{
    max-width: 150px;
}

.footer-section-left p{
    margin-top: 28px;
}

.footer-list{
    padding: 0;
}

.footer-list .footer-list-item{
    float:left;
    list-style-type: none;
}

.footer-list  .footer-list-item:not(:first-child){
    padding-left: 20px;
}

.footer-list .footer-list-item .footer-list-link{
    color: grey;
}

.footer-section-right h4{
    font-size: 18px;
}

.footer-section-right .form-group input[type=email]{
    border: none;
    border-bottom: 1px solid grey;
    color: grey;
    padding: 5px 10px;
    margin-top: 20px;
}

.footer-section-right .form-group{
    position: relative;
} 

.footer-section-right .form-group a{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #000;
}